#applicationPage {
    display: flex;
	min-height: 100vH;
	width: 100%;
    flex-direction: column;
	align-items: stretch;
}

#applicationPage > main {
	display: flex;
	flex: 1;
	align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

#applicationPage > main .restaurantsList {
	flex: 0 0 410px;
	z-index: 99;
	background-color: #f5f5f5;
	overflow-y: auto;
	box-shadow: 1px 0 4px rgba(0,0,0,0.3);
}

#applicationPage > main .map {
	flex: 1;
	position: relative;
}


#applicationPage > header {
	height: 60px;
	/*width: 100%;*/
	/*background: #fff;*/
	z-index: 100;
	box-shadow: 0 0 7px rgba(0,0,0,0.3);

	display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
	align-items: center;
}

	header .header__logo-container {
		height: 100%;
		padding-left: 142px;
        padding-right: 142px;
	}

		.header__logo-container .header__logo img {
			height: 100%;
			width: auto;
			padding: 16px;
		}

	header .facets {
		flex: 1 auto;
	}

	header .header__nav-menu {
		height: 100%;
		padding-left: 142px;
        padding-right: 142px;
        margin: 0;
	}

		.header__nav-menu > li {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			/*min-width: 100px;*/
			margin: 0 20px;
            line-height: 60px;
		}

			.header__nav-menu li a{
				color: rgba(0,0,0,0.87);
				text-decoration: none;
			}

			.header__nav-menu > li.header__nav-menu-user-info img {
				height: 32px;
				width: 32px;
				vertical-align: middle;
			}
            
            .header__nav-menu > li.header__nav-menu-user-info .user-profile-dropdown-button > i {
                line-height: 60px;
                margin-left: -2px;
            }

				.dropdown-content {
					min-width: 142px; 
					margin-top: 10px; 
                    padding: 10px;
				}
                
                    .dropdown-content li {
                            height: 35px;
                            line-height: 35px;
                            padding-left: 7px;
                    }
                    
                    .dropdown-content li a {
                        font-size: 12px;
                        font-size: 0.75rem;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .dropdown-content li a i {
                        line-height: 35px;
                        float: left;
                        margin-right: 5px;
                    }

#applicationPage > footer {
	width: 100%;
	height: 40px;
}

/*#applicationPage > main {
	flex: 1 auto;
	position: relative;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
}*/

/*#applicationPage > main .restaurantsList {
	width: 33%;
	max-width: 420px;
	overflow-y: auto;
	outline-offset: -2px;
	border-right: 1px solid #d6d9db;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);

	flex: 1 auto;
}*/

/*#applicationPage > main .map {
	position: relative;
	flex: 1 auto;
}*/

#map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}