#applicationPage {
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
}

#applicationPage > header {
	width: 100%;
	height: 64px;
	line-height: 64px;

	min-width: 0;
	padding: 0 30px 0 15px;
	border-bottom: 1px solid #e8e8e8;
	background-color: #cc181e;

	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#applicationPage .header__logo-container {
	position: relative;
	/*width: 256px;*/
	height: 100%;
}

.header__logo-container-guide-btn {
	font-size: 1.5rem;
	margin-right: 10px;
}

.header__logo,
.header__logo-container-guide-btn {
	color: white;
	display: inline-block;
	vertical-align: middle;
}

header .facets {
	flex: 1 auto;
}

.header__user-information span {
	color: white;
	display: inline-block;
}

.header__user-information img {
	height: 32px;
	width: 32px;
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#applicationPage > footer {
	width: 100%;
	height: 40px;
}

#applicationPage > main {
	width: 100%;
	flex: 1 auto;
}