#applicationPage {
    display: flex;
	min-height: 100vH;
	width: 100%;
    flex-direction: column;
	align-items: stretch;
}

#applicationPage > main {
	display: flex;
	flex: 1;
	align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

#applicationPage > main .restaurantsList {
	flex: 0 0 420px;
	z-index: 99;
	background-color: #F7F8FA;
	overflow-y: auto;
	/*box-shadow: 0 0 20px rgba(0,0,0,0.3);*/
}

#applicationPage > main .map {
	flex: 1;
	position: relative;
}


#applicationPage > header {
	height: 60px;
	/*width: 100%;*/
	background: #fff;
	z-index: 100;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);

	display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
}

	header .header__logo-container {
		height: 100%;
		padding-left: 16px;
	}

		.header__logo-container .header__logo img {
			height: 100%;
			width: auto;
			padding: 16px;
		}

	header .facets {
		flex: 1 auto;
	}

	header .header__nav-menu {
		height: 100%;
		padding-right: 16px;
	}

		.header__nav-menu li {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			min-width: 100px;
			margin: 0 15px;
		}

			.header__nav-menu li a{
				color: rgba(0, 0, 0, 0.7);
				text-decoration: none;
			}

			.header__nav-menu li.header__nav-menu-user-info img {
				height: 32px;
				width: 32px;
				vertical-align: middle;
			}

				.dropdown-content {
					background-color: #FFFFFF;
					margin: 0;
					display: none;
					min-width: 300px; /* Changed this to accomodate content width */
					max-height: auto;
					margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
					overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
					opacity: 0;
					position: absolute;
					white-space: nowrap;
					z-index: 1;
					will-change: width, height;
				}

#applicationPage > footer {
	width: 100%;
	height: 40px;
}

/*#applicationPage > main {
	flex: 1 auto;
	position: relative;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
}*/

/*#applicationPage > main .restaurantsList {
	width: 33%;
	max-width: 420px;
	overflow-y: auto;
	outline-offset: -2px;
	border-right: 1px solid #d6d9db;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);

	flex: 1 auto;
}*/

/*#applicationPage > main .map {
	position: relative;
	flex: 1 auto;
}*/

#map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}