#landingPage {
	flex: 1 0;
}

#landingPage .landingPage-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#landingPage .landingPage-background img,
#landingPage .landingPage-background__overlay {
	height: 100%;
	width: 100%;
}

#landingPage .landingPage-background__overlay {
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#landingPage .landingPage-content {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
}

#landingPage .landingPage-content__welcome-text {
	font-weight: bold;
}

#landingPage .landingPage-content__content-logo h4 {
	font-size: 96px;
	font-size: 6rem;
	line-height: 110%;
	margin-top: 5px;
	margin-bottom: 30px;
}

#landingPage .landingPage-content__description p {
	font-size: 22px;
	font-size: 1.4rem;
}

#landingPage .landingPage-content__enter-btn a {
	text-transform: uppercase;
	font-weight: 700;
	border: 0;
	border-radius: 999px;
	height: 45px;
	line-height: 45px;
	min-width: 220px;
	background: #e53838;
}

#landingPage .landingPage-content__madmachines {
	margin: 40px 0 0;
}

#landingPage .landingPage-content__madmachines p {
	font-size: 13px;
	font-size: 0.8rem;
	font-weight: 300;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
	text-transform: lowercase;
	margin-bottom: 0;
}

#landingPage .landingPage-content__madmachines a {
	font-size: 22px;
	font-size: 1.4rem;
	color: white;
}