.restaurantList .restaurant-list-wrapper {
	display: flex;
	flex-direction: column;
	outline-offset: -2px;
}

	.restaurant-list-wrapper .restaurant {
		cursor: pointer;
	}
    
::-webkit-scrollbar {
        width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}
   