.doof-masthead {
	height: $header-height;
	width: 100%;
	line-height: $header-height;
	z-index: 99;
	color: #fff;
	background-color: $brand-color;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	display: flex;
	align-items: center;
	.masthead__logo-container {
		height: 100%;
		flex: 0 0 400px;
		padding: 12px 24px;
		text-align: center;
		img {
			height: 100%;
			max-height: 48px;
			width: auto;
		}
	}
	.masthead__search-container {
		height: 100%;
		flex: 1;
		padding: 12px 24px;
		#doofSearch {
			position: relative;
			height: 100%;
			width: 100%;
			max-width: 1080px;
			margin: 0 auto;

			display: flex;
			align-items: center;
			.search-form {
				flex: 1;
				display: flex;
				height: 100%;
				background-color: white;
				border-radius: 3px;
				box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);;
				label {
					z-index: 10;
				}
				.search__location-wrapper {
					flex: 0 0 36%;
					display: flex;
					border-right: 2px solid #e6e6e6;
				}

				.search__doof-wrapper {
					flex: 1;
					display: flex;
					position: relative;
					.twitter-typeahead {
						width: 100%;
					}
				}

				#search_doof,
				#search__location {
					margin-bottom: 0;
					white-space: nowrap;
					text-overflow: ellipsis;
					height: 48px;
					line-height: 48px;
					border: 0;
					color: rgba(0, 0, 0, 0.818);
					padding-left: 12px;
					padding-right: 6px;
				}
				#search_doof::-webkit-input-placeholder,
				#search__location::-webkit-input-placeholder {
					color:    rgba(0, 0, 0, 0.404);
				}
				#search_doof:-moz-placeholder,
				#search__location:-moz-placeholder {
					color:    rgba(0, 0, 0, 0.404);
				}
				#search_doof::-moz-placeholder,
				#search__location::-moz-placeholder {
					color:    rgba(0, 0, 0, 0.404);
				}
				#search_doof:-ms-input-placeholder,
				#search__location:-ms-input-placeholder {
					color:    rgba(0, 0, 0, 0.404);
				}
				.location-search__geolocate-me ,
				.search__icon,
				.clear-search__icon {
					background: $background-color;
					color: $brand-color;
					cursor: pointer;
					width: 48px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					background-color: #fafafa;
				}
				.location-search__geolocate-me active {
					border-radius: 3px 0 0 3px;
				}
				.clear-search__icon {
					color: #e6e6e6;
					background: white;
					position: absolute;
					top: 0;
					right: 0;
					&:hover {
						color: $brand-color;
					}
				}
				#search__submit-btn {
					background-color: $background-color;
					color: $brand-color;
					border-radius: 0 3px 3px 0;
					height: 48px;
					line-height: 48px;
					font-weight: bold;
				}
			}
		}
	}
	.masthead__nav-menu  {
		height: 100%;
		flex: 0 0 400px;
		margin: 0;
		display: flex;
		justify-content: flex-end;
		padding-right: 80px;
		.masthead__nav-menu-item {
			text-transform: uppercase;
			padding: 0 24px;
			&.nav-menu-item__feedback {
				a {
					color: rgba(255, 255, 255, 1);
				}
			}
			#logged-out-user-menu__login-link {
				color: rgba(255, 255, 255, 1);
			}
			a.user-menu__user-link img {
				height: 36px;
				width: 36px;
				vertical-align: middle;
			}
			ul#user-menu__user-profile-dropdown {
				a {
					color: $brand-color;
				}
			}
		}
	}
}