$brand-color: #d72828;
$brand-text-color: #ffce00;
$border-color: #e6e6e6;
$border-color-2: #990000;
$lighter-background: #fafafa;

$landing-page-text-width: 1080px;
$landing-page-enter-btn-width: 60px;
$border-radius: 3px;


$column-width: 480px;
$space-nearby: 12px 24px;

$header-height: 72px;
$logo-column-width: $column-width/2;
$search-form-max-width: 1080px;

$box-shadows-list: 0 0 9px rgba(0, 0, 0, 0.309);
$box-shadows-boxes: 0 0 9px rgba(0, 0, 0, 0.309);