$brand-color: #d72828;
$brand-text-color: #ffce00;

$landing-page-text-width: 1080px;
$landing-page-enter-btn-width: 60px;
$border-radius: 3px;


$first-column-width: 480px;
$space-nearby: 18px 24px;

$header-height: 72px;
$logo-column-width: $first-column-width/2;
$search-form-max-width: 1080px;