@import 'variables';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.doof,
.loader {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
@import 'loader';
@import 'landing-page';

#applicationPage {
	flex: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	@import 'header';

	.doof-body {
		flex: 1;
		display: flex;
		position: relative;

		@import 'left-list';

		.body__map-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			#doof-map {
				flex: 1;
				width: 100%;
			}
		}

		.body-box {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: $box-margin;
			border-radius: $box-radius;
			background-color: #fff;
			box-shadow: $box-shadow;
			&>div {
				width: 100%;
				height: 100%;
				position: relative;
			}
			.box-close-btn {
				position: absolute;
				right: 0;
				top: 0;
				color: $brand-color;
			}
		}
		@import 'details';
		.body__profile-box {
			right: 0;
			width: 480px;
		}
		#profileView {
			display: flex;
			flex-direction: column;
			.user-profile__details {
				display: flex;
				align-items: center;
				background-color: #f2f2f2;
				border-bottom: 1px solid #d9d9d9;
				padding: 13px 17px;
				img {
					width: 60px;
					height: 60px;
				}
				.user-profile__details-info-wrapper {
					flex: 1;
					color: #565a5c;
    				margin-left: 20px;
					 h4 {
						font-size: 40px;
    					margin-bottom: 0;
					 }
					 p {
						font-size: 14px;
    					margin-top: 5px;
					 }
				}
			}
			.user-profile__reviews {
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 20px;
				h6 {
					font-size: 28px;
    				font-weight: 200;
    				color: #aaa;
				}
				ul {
					flex: 1;
				}
			}
		}
	}
	#feedback__modal {
		text-align: center;
		padding: 15px;
		overflow: hidden;
		h5 {
			margin: 0;
			line-height: 1.42857143;
			font-weight: bold;
			font-size: 28px;
			padding-top: 26px;
			margin-bottom: 30px;
			color: $brand-color;
		}
	}
}