/*
Table of Content :-
1. Landing Page
2. Application Page
a. Header
b. Body
*/
@font-face {
  font-family: Utopia;
  src: url("UtopiaStd-Regular.otf") format("opentype"); }
::-webkit-scrollbar {
  width: 9px;
  height: 9px; }

::-webkit-scrollbar-thumb {
  background: #e6e6e6; }

#landingPage {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  text-align: center; }
  #landingPage .landingPage-background {
    z-index: -1; }
    #landingPage .landingPage-background img,
    #landingPage .landingPage-background .landingPage-background__overlay {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0; }
    #landingPage .landingPage-background .landingPage-background__overlay {
      background: -moz-linear-gradient(top, rgba(173, 37, 37, 0.1) 0, rgba(10, 20, 40, 0.69) 100%);
      background: -webkit-linear-gradient(top, rgba(173, 37, 37, 0.1) 0, rgba(10, 20, 40, 0.69) 100%);
      background: linear-gradient(to bottom, rgba(173, 37, 37, 0.1) 0, rgba(10, 20, 40, 0.69) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6141724', endColorstr='#f2141724', GradientType=0 ); }
  #landingPage .landingPage-content__welcome-text {
    font-weight: bold; }
  #landingPage .landingPage-content__description {
    max-width: 1080px; }
  #landingPage .landing-content__enter_application {
    display: flex; }
    #landingPage .landing-content__enter_application .landingPage-content__locationBox-wrapper {
      flex: 1;
      height: 48px;
      display: flex;
      background: white; }
      #landingPage .landing-content__enter_application .landingPage-content__locationBox-wrapper label {
        padding: 0 12px;
        height: 48px;
        background: transparent; }
        #landingPage .landing-content__enter_application .landingPage-content__locationBox-wrapper label i {
          line-height: 48px;
          color: #F44336; }
      #landingPage .landing-content__enter_application .landingPage-content__locationBox-wrapper #landingPage-locationBox {
        flex: 1;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.818);
        width: 100%;
        height: 48px;
        border: 0; }
    #landingPage .landing-content__enter_application .landingPage-content__enter-btn {
      flex: 0 0 60px; }
      #landingPage .landing-content__enter_application .landingPage-content__enter-btn #landingPage-enter-btn {
        width: 100%;
        height: 48px;
        line-height: 48px;
        background: #F44336;
        color: #FFC952;
        font-weight: bold;
        text-transform: uppercase; }

#applicationPage {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* 100% division */
  display: flex;
  flex-direction: column;
  /* flex column*/ }

.doof-masthead {
  width: 100%;
  height: 72px;
  line-height: 72px;
  z-index: 3;
  color: #fff;
  background-color: #F44336;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex; }
  .doof-masthead .masthead__logo-container {
    height: 100%;
    flex: 0 0 240px;
    padding: 12px 24px;
    text-align: center; }
    .doof-masthead .masthead__logo-container img {
      height: 100%;
      max-height: 48px;
      width: auto; }
  .doof-masthead .masthead__search-container {
    flex: 1;
    height: 100%;
    padding: 12px 24px; }
    .doof-masthead .masthead__search-container #doofSearch {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      align-items: center; }
      .doof-masthead .masthead__search-container #doofSearch .search-form {
        flex: 1;
        display: flex;
        height: 100%;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02); }
        .doof-masthead .masthead__search-container #doofSearch .search-form label {
          z-index: 10; }
        .doof-masthead .masthead__search-container #doofSearch .search-form .search__location-wrapper {
          flex: 0 0 36%;
          display: flex;
          border-right: 2px solid #e6e6e6; }
        .doof-masthead .masthead__search-container #doofSearch .search-form .search__doof-wrapper {
          flex: 1;
          display: flex;
          position: relative; }
          .doof-masthead .masthead__search-container #doofSearch .search-form .search__doof-wrapper .twitter-typeahead {
            width: 100%; }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search_doof,
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__location {
          margin-bottom: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 48px;
          line-height: 48px;
          border: 0;
          color: rgba(0, 0, 0, 0.818);
          padding-left: 12px;
          padding-right: 6px; }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search_doof::-webkit-input-placeholder,
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__location::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.404); }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search_doof:-moz-placeholder,
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__location:-moz-placeholder {
          color: rgba(0, 0, 0, 0.404); }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search_doof::-moz-placeholder,
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__location::-moz-placeholder {
          color: rgba(0, 0, 0, 0.404); }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search_doof:-ms-input-placeholder,
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__location:-ms-input-placeholder {
          color: rgba(0, 0, 0, 0.404); }
        .doof-masthead .masthead__search-container #doofSearch .search-form .location-search__geolocate-me,
        .doof-masthead .masthead__search-container #doofSearch .search-form .search__icon,
        .doof-masthead .masthead__search-container #doofSearch .search-form .clear-search__icon {
          background: #FFC952;
          color: #F44336;
          cursor: pointer;
          width: 48px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          background-color: #fafafa; }
        .doof-masthead .masthead__search-container #doofSearch .search-form .location-search__geolocate-me active {
          border-radius: 3px 0 0 3px; }
        .doof-masthead .masthead__search-container #doofSearch .search-form .clear-search__icon {
          color: #e6e6e6;
          background: white;
          position: absolute;
          top: 0;
          right: 0; }
          .doof-masthead .masthead__search-container #doofSearch .search-form .clear-search__icon:hover {
            color: #F44336; }
        .doof-masthead .masthead__search-container #doofSearch .search-form #search__submit-btn {
          background-color: #FFC952;
          color: #F44336;
          border-radius: 0 3px 3px 0;
          height: 48px;
          line-height: 48px;
          font-weight: bold; }
  .doof-masthead .masthead__nav-menu {
    height: 100%;
    flex: 0 0 240px;
    margin: 0;
    display: flex;
    justify-content: space-around; }
    .doof-masthead .masthead__nav-menu .masthead__nav-menu-item {
      float: right;
      text-transform: uppercase;
      transition: background-color .3s; }
      .doof-masthead .masthead__nav-menu .masthead__nav-menu-item a {
        color: white;
        display: block;
        padding: 0 12px;
        cursor: pointer;
        transition: background-color .3s; }
        .doof-masthead .masthead__nav-menu .masthead__nav-menu-item a:hover, .doof-masthead .masthead__nav-menu .masthead__nav-menu-item a:active {
          background-color: #D32F2F; }
    .doof-masthead .masthead__nav-menu .usermenu__user-image {
      cursor: pointer;
      height: 36px;
      width: 36px;
      vertical-align: middle; }

.body__list-container {
  flex: 0 0 480px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
  .body__list-container .body__sub-menu-wrapper {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
    z-index: 2;
    background: #f5f5f5; }
    .body__list-container .body__sub-menu-wrapper .body__sub-menu-container {
      width: 100%;
      font-size: 12px;
      margin-left: 80px;
      margin-right: 80px; }
      .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu {
        height: 48px;
        background-color: #f5f5f5; }
        .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu li.tab {
          height: 48px;
          line-height: 48px; }
          .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu li.tab a {
            color: rgba(0, 0, 0, 0.7); }
            .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu li.tab a.active, .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu li.tab a:hover {
              color: rgba(0, 0, 0, 0.87); }
            .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu li.tab a.active {
              color: #ff5252; }
        .body__list-container .body__sub-menu-wrapper .body__sub-menu-container ul.body__sub-menu .indicator {
          background-color: #ff5252; }
  .body__list-container .body__list {
    flex: 1;
    display: flex;
    height: 0; }
    .body__list-container .body__list #restaurants-list-view {
      flex: 1;
      min-height: 0;
      overflow-y: auto;
      position: relative;
      padding: 6px 12px;
      background-color: #fafafa; }
      .body__list-container .body__list #restaurants-list-view .restaurant-list-item2 {
        display: flex;
        cursor: pointer;
        position: relative; }
        .body__list-container .body__list #restaurants-list-view .restaurant-list-item2:hover, .body__list-container .body__list #restaurants-list-view .restaurant-list-item2.active {
          background-color: #fafafa;
          box-shadow: 0 0px 8px #787878;
          z-index: 2; }
        .body__list-container .body__list #restaurants-list-view .restaurant-list-item2:last-child {
          margin-bottom: 0; }

.doof-body {
  flex: 1;
  display: flex;
  position: relative; }
  .doof-body .body__search-results-container {
    background-color: white;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.309); }
  .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-list {
    flex: 1;
    padding: 0 24px; }
  .doof-body .body__list-container .body__list #restaurants-list-view .card-header > .restaurant-name,
  .doof-body .body__list-container .body__list #restaurants-list-view .card-header > .food-name {
    font-size: 1.2rem;
    font-family: Utopia;
    color: #F44336;
    text-transform: capitalize;
    font-weight: bold; }
  .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-address {
    color: #666; }
  .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-photo {
    flex: 0 0 120px;
    height: auto;
    height: 75px;
    border: 1px solid #e5e5e5;
    position: relative; }
    .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-photo img {
      height: 100%;
      width: 100%;
      background-size: cover; }
  .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFC952;
    font-weight: bold; }
  .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-top-foods {
    font-size: 12px;
    color: #666;
    margin-top: 12px; }
    .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-top-foods .top_food_item {
      margin: 5px 0; }
      .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-top-foods .top_food_item i {
        font-size: 1.2rem;
        color: #ffb606;
        float: left;
        margin-right: 5px; }
      .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-top-foods .top_food_item span {
        text-transform: capitalize; }
        .doof-body .body__list-container .body__list #restaurants-list-view .restaurant-top-foods .top_food_item span:first-letter {
          text-transform: uppercase; }
  .doof-body .body__list-container .body__list .restaurants-empty-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .doof-body .body__list-pagination {
    flex: 0 0 48px;
    background-color: #F4F5F5;
    color: #B0B0B0;
    font-size: 12px;
    line-height: 48px;
    padding-left: 12px; }
    .doof-body .body__list-pagination i {
      cursor: pointer;
      float: right;
      color: #b0b0b0;
      border-left: 1px solid #d9d9d9;
      height: 48px;
      padding: 0 12px;
      line-height: 48px;
      font-size: 2.4rem; }
  .doof-body .body__search-results-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 480px;
    z-index: 2; }
  .doof-body .body__map-container {
    flex: 1;
    position: relative; }
    .doof-body .body__map-container #map-view {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
  .doof-body .body__detail-box,
  .doof-body .body__profile-box {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    width: 480px;
    margin: 12px 24px;
    background-color: white;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.309);
    border-radius: 6px; }
  .doof-body .body__detail-box {
    left: 480px; }
    .doof-body .body__detail-box #detail-view {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column; }
      .doof-body .body__detail-box #detail-view .restaurant-details__meta-information {
        position: relative;
        background-color: #F44336;
        border-radius: 6px 6px 0 0; }
        .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__photos {
          display: none; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__photos i {
            font-size: 2rem;
            color: white;
            background: rgba(0, 0, 0, 0.618);
            z-index: 1001;
            cursor: pointer;
            position: absolute;
            top: 40%; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__photos i.slider__left-arrow {
            left: 0; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__photos i.slider__right-arrow {
            right: 0; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__photos .slider .slides li.active {
            z-index: 1000; }
        .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__information {
          width: 100%;
          padding: 0px 12px 12px; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__information .restaurant-details__name {
            font-size: 3rem;
            font-weight: bold;
            color: #FFC952;
            font-family: Utopia; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__information .restaurant-details__meta i {
            color: #fff; }
            .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__information .restaurant-details__meta i.active {
              color: #ffc952; }
          .doof-body .body__detail-box #detail-view .restaurant-details__meta-information .restaurant-details__information .restaurant-details__address {
            color: rgba(0, 0, 0, 0.87);
            font-size: 1rem;
            font-weight: bold; }
      .doof-body .body__detail-box #detail-view .tabs {
        height: 48px; }
        .doof-body .body__detail-box #detail-view .tabs a.active {
          font-weight: bold; }
      .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes {
        flex: 1;
        display: flex; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #overview-tab,
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #food-tab,
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #cost-tab,
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #service-tab,
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #ambience-tab,
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab {
          flex: 1; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #overview-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #overview-tab .overview-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #food-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #food-tab .food-tab-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #food-tab .food-tab-wrapper #food-graph {
              flex: 1; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #food-tab .add-food-item {
            flex: 0 0 100px; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #cost-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #cost-tab .cost-tab-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #cost-tab .cost-tab-wrapper #cost-graph {
              flex: 1; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #service-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #service-tab .service-tab-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #service-tab .service-tab-wrapper #service-graph {
              flex: 1; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #ambience-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #ambience-tab .ambience-tab-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #ambience-tab .ambience-tab-wrapper #ambience-graph {
              flex: 1; }
        .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab {
          position: relative; }
          .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list {
              flex: 1;
              height: 0;
              overflow-y: auto; }
              .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews {
                margin: 0;
                padding: 12px 24px; }
                .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li {
                  margin-bottom: 24px;
                  display: flex; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li .left-side {
                    text-align: center;
                    font-size: 12px;
                    color: #82888a; }
                    .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li .left-side img {
                      height: 60px;
                      width: 60px; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li .right-side {
                    flex: 1;
                    margin-left: 36px;
                    border-bottom: 1px solid #e6e6e6; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li .date {
                    margin-top: 12px;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.618);
                    margin-bottom: 24px; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li .review_text {
                    color: rgba(0, 0, 0, 0.818);
                    line-height: 18px; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li:last-child {
                    margin-bottom: 12px; }
                  .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li.empty-review {
                    text-align: center;
                    flex-direction: column; }
                    .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .reviews-list .reviews li.empty-review .empty-reviews__image {
                      width: 354px;
                      margin: 0 auto; }
            .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .add-review-box {
              padding: 12px 24px;
              background-color: #fafafa;
              border-top: 1px solid #e6e6e6;
              flex: 0 0 160px; }
              .doof-body .body__detail-box #detail-view .restaurant-details__tab-boxes #reviews-tab .reviews-wrapper .add-review-box textarea {
                background-color: white;
                height: 6rem; }
      .doof-body .body__detail-box #detail-view .detail-close {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        background-color: #fafafa;
        color: #F44336;
        z-index: 1001;
        transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1); }
        .doof-body .body__detail-box #detail-view .detail-close:hover {
          background-color: #FFC952; }
  .doof-body .body__profile-box {
    right: 0; }

.pac-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  color: #212121 !important;
  line-height: 36px !important;
  /*font-weight: 800;*/ }

.pac-item-query {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.pac-item:hover {
  background-color: #eeeeee !important;
  transition: background .15s linear; }

.pac-container {
  color: #212121 !important;
  background-color: #fafafa;
  /*font-weight: 800;*/ }

.pac-icon, .pac-icon-marker {
  background: none !important;
  background-image: none !important; }

.search-header {
  height: 48px;
  line-height: 48px;
  background-color: #f5f5f5;
  font-weight: bold;
  color: #424242; }

.suggestion-type {
  float: left;
  line-height: 48px;
  width: 40px;
  color: #424242;
  text-align: center; }

.tt-menu {
  width: 100%;
  background-color: white;
  border-radius: 0 0 3px 3px;
  /*box-shadow: 0 2px 2px rgba(0,0,0,0.54);*/
  font-size: 1rem;
  overflow-x: hidden;
  margin-top: 1.5px; }

.tt-suggestion {
  position: relative;
  color: rgba(0, 0, 0, 0.818);
  font-size: 0.8em;
  cursor: pointer;
  text-align: left;
  padding: 6px 0 6px 36px; }

.tt-suggestion:hover {
  background: #eeeeee;
  color: #616161; }

.empty-message {
  color: rgba(0, 0, 0, 0.618);
  font-size: 1rem;
  height: 48px;
  line-height: 48px; }

i.empty_message_icon {
  float: left;
  line-height: 48px;
  width: 48px;
  color: rgba(0, 0, 0, 0.518);
  text-align: center; }

/*# sourceMappingURL=app.css.map */
