#detail-view {
	height: 100%; width: 100%; margin: 0; padding: 0;
	display: flex; flex-direction: column;
}

.restaurant-details__meta-information {
	height: 240px;
	position: relative;
}

#detail-view .tabs {
	height: 48px;
}

.restaurant-details__tab-boxes {
	flex: 1;
	display: flex;
}

#overview-tab,
#food-tab,
#reviews-tab {
	flex: 1;
}

.restaurant-details__information {
	position: absolute;
	bottom: 0;
	/*margin: 6px 12px;*/
	/*font-size: 2.4rem;*/
	color: white;
	background-color: rgba(0, 0, 0, 0.618);
	z-index: 11;
    width: 100%;
}

.restaurant-details__name {
	font-size: 1.8rem;
}
/*
.restaurant-details__information {
	flex: 1;
	display: flex;
	flex-direction: column;
}*/



#detail-view .tab {
	/*border-left: 1px solid #E0E0E0;*/
}

#detail-view .tab a.active {
	font-weight: bold;
}

/*
.graph {
	width: 500px!important;
    height: 600px!important;
}*/

.detail-close {
	position: absolute;
	top: 5px;
    	right: 5px;
    	cursor: pointer;
    	font-size: 2em;
	color: #EB4960;
    	z-index: 99;
}

.detail-restaurant-information {
	position: relative;
}

.detail-restaurant-information .detail-restaurant-name,
.detail-restaurant-information .detail-restaurant-address{
	padding: 13px 17px;
	position: absolute;
    bottom: 0;
    z-index: 11;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.detail-restaurant-detail {
	flex: 1;

}

.detail-restaurant-name {
	        font-size: 2.5rem;
    font-weight: 300;
    color: white;

    line-height: 120%;
}

.detail-restaurant-address {
	font-size: 0.9rem;
}





#addFoodItemModal {
	z-index: 1003;
}

/*Detail Section*/
#overview-tab {
	position: relative;
}

.overview-wrapper	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	overflow-y: scroll;
}


/*Reviews Section*/

#reviews-tab {
	position: relative;
}

.reviews-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.reviews-list {
	flex: 1;
	height: 0;
	overflow-y: auto;
}
.reviews {
	margin: 0;
    padding: 13px 17px;
}

.reviews li {
	margin-bottom: 20px;
	display: flex;
}

.reviews li.empty-review {
	text-align: center;
	flex-direction: column;
}

.empty-reviews__image {
	width: 354px;
    margin: 0 auto;
}

.reviews li:last-child {
    margin-bottom: 10px;
}

.reviews li > .left-side {
	text-align: center;
    font-size: 13px;
    color: #82888a;
}

.reviews li > .left-side > img {
	height: 60px;
	width: 60px;
}

.reviews li > .right-side {
	flex: 1;
	margin-left: 30px;
    border-bottom: 1px solid #dce0e0;
}

.reviews .date {
        margin-top: 10px;
    display: block;
    font-size: 13px;
    color: #82888a;
    margin-bottom: 20px;
}

.review_text {
	    font-size: 13px;
    color: #565a5c;
    line-height: 20px;
}

.add-review-box {
	padding: 20px;
	background-color: #f2f2f2;
	border-top: 1px solid #d9d9d9;
	flex: 0 0 160px;
}

.add-review-box> textarea {
	background-color: white;
	height: 6rem;
}

/*Food Section*/
#food-tab {
	position: relative;
}

.food-tab-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}

#food-graph {
	flex: 1;
}

.add-food-item {
	flex: 0 0 100px;
}

.slider__left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    color: rgb(215, 40, 40);
    z-index: 9;
    cursor: pointer;
}

.slider__right-arrow {
position: absolute;
    top: 50%;
    right: 0;
    color: rgb(215, 40, 40);
    z-index: 9;
    cursor: pointer;
}

.slider__left-arrow:hover,
.slider__right-arrow:hover {
	color: #d72828;
}

.slider .slides li.active {
	z-index: 1000;
}