.location-search__geolocate-me {
	line-height: 48px;
    color: #d72828;
    cursor: pointer;
    width: 48px;
    background-color: #fafafa;
    border-radius: 3px;
    text-align: center;
}

.pac-container .pac-item:first {
	background-color: #f5f5f5 ;
}

.search-results__wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 450px;
	background-color: white;
	z-index: 99;

	display: none;
	overflow: auto;
}

/*.search-results__back-btn {}*/